CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea
backup
cmake-build*
build
bin/resql
bin/resql-cli
bin/pgo
bin/build
bin/*.resql
bin/.pid