on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  ubuntu:
    runs-on: ubuntu-latest
    name: Go client test

    steps:
      - uses: actions/checkout@v2.1.0
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.13.1'
      - name: build
        run: |
          sudo apt update
          sudo apt-get install valgrind cmake
          ./build.sh
          cd bin
          ./resql &
          cd ..
          cd go/resql
          go test . -count 1 -v