on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  ubuntu:
    runs-on: ubuntu-latest
    name: Java client test

    steps:
      - uses: actions/checkout@v2.1.0
      - name: build
        run: |
          sudo apt update
          sudo apt-get install valgrind cmake default-jdk maven
          ./build.sh
          cd bin
          ./resql &
          cd ..
          cd java
          mvn test